body {
    font-family: Futura, Verdana, Geneva, Tahoma, sans-serif;
	margin: 0px;
    padding: 0px;
	overflow-x: hidden;

}

.header   {
    background-color:rgb(240, 240, 240);
	padding-bottom: 1%;
	padding-top: 1%;
	padding-left: 5%;
	padding-right: 5%;
	
}

.title {
	font-size:180%;
	font-weight:400;
}

.menuitem {
	font-size:100%;
	font-weight:400;
}

.currentmenuitem {
	color:rgb(134,37,51);
	font-size:100%;
	font-weight:400;	
	padding-bottom:5px;
	text-decoration:none;
	border-bottom:4px solid rgb(134,37,51);

}


.tdItem:hover{
	background-color:rgb(228, 228, 228);

}



.headertable {
	width: 100%
}

.tdItem {
	text-align: center;
	padding:10px;
}

.tdTitle{
	width: 50%;
}










.contentHeader {
	text-align: center;
	text-decoration: none;
	font-weight:500;
	font-size:220%;
}

.contentSubHeader {
	text-align: center;
	text-decoration: none;
	font-weight:500;
	font-size:180%;
}

.Housescontent {
	margin-left: 20%;
	margin-right:  20%;
}

.housestable{
	width: 100%;
}





.houseimages {
	text-align: center;
	font-size:20px;
}

.Tableheader{
	padding: 25%;
	background-color: rgb(134,37,51);
	color:white;

}

.Tablerow {
	background-color: rgb(248,248,248);
	color: rgb(115, 115, 115);	
	
}

.innertable {
	width: 100%;
	border:0;
	border-collapse: collapse;
	
}


hr {
	color: rgb(115, 115, 115);
}






.navbar {
	background-color: rgba( 238,238,238);
	overflow: hidden;
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 2px;

  }


  a {
	color:rgb(0,0,0);
	text-decoration:none;

  }


button {
	background-color: rgb(134,37,51);
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	border-radius: 5px;
	margin-bottom:10%;
}

button:hover {
	background-color: rgb(150, 126, 130);
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	border-radius: 5px;
	margin-bottom:10%;
}

.navbarTable {
	margin-left: 20%;
	margin-top: 1.2%;
	margin-bottom: 1.2%;
	font-size:13px;
}

.copywrite{
	color:rgb(190, 190, 190);
}

.credits {
	width:50VW;
	text-align: right;
	color:rgb(190, 190, 190);
}








.parallax1{
	/* The image used */
	background-image: url("images/img1.png");
  
	/* Set a specific height */
	min-height: 400px;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
  }

.parallax2{
	/* The image used */
	background-image: url("images/img2.png");
  
	/* Set a specific height */
	min-height: 400px;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
  }

  .parallax3{
	/* The image used */
	background-image: url("images/img3.png");
  
	/* Set a specific height */
	min-height: 400px;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
  }

  .parallax4{
	/* The image used */
	background-image: url("images/img4.png");
  
	/* Set a specific height */
	min-height: 400px;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
  }


  .container {
	position: relative;
	text-align: center;
	color: white;
  }

  .centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	text-decoration: none;
	font-weight:700;
	font-size:500%;
	color:white;
	background-color:transparent;

  }

.memberTable{
	margin-left:20%;
	margin-right:20%;
}
.members {
	width: 100%;
}

iframe {
	display:block;
}




p {
	text-align: center;
}

.form {
	position: relative;
	padding-bottom: 49.25%; 
	padding-top: 25px;
	height: 0;
}
.form iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.submit{
	background-color: rgb(134,37,51);
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border-radius: 5px;
	margin-bottom:10%;
}

.submit:hover {
	background-color: rgb(150, 126, 130);
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	border-radius: 5px;
	margin-bottom:10%;
}

.picture{
	text-align: center;
}




@media only screen and (max-width: 600px) { 
	.title {
		font-size:100%;
		font-weight:400;
	}
	
	.menuitem {
		font-size:20%;
		font-weight:400;
	}
	
	.currentmenuitem {
		color:rgb(134,37,51);
		font-size:20%;
		font-weight:400;	
		padding-bottom:5px;
		text-decoration:none;
		border-bottom:4px solid rgb(134,37,51);
	}

	.Housescontent {
		margin-left: 00%;
		margin-right:  0%;
	}

	.Tableheader{
		padding: 25%;
		background-color: rgb(134,37,51);
		color:white;
		font-size: 7px;
	
	}
	
	.Tablerow {
		background-color: rgb(248,248,248);
		color: rgb(115, 115, 115);	
		font-size: 7px;
		
	}

	.memberTable{
		margin-left:0%;
		margin-right:0%;
	}


	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		text-decoration: none;
		font-weight:700;
		font-size:400%;
		color:white;
		background-color:transparent;
	
	  }

	  .navbarTable {
		margin-left: 0%;
		margin-top: 1.2%;
		margin-bottom: 1.2%;
		font-size:13px
	}
	
	.parallax1{
		background-attachment: scroll;
		background-image: url("images/img1.png");
		min-height: 200px;
	}
	.parallax2{
		background-attachment: scroll;
		background-image: url("images/img2.png");
		min-height: 200px;
	}
	.parallax3{
		background-attachment: scroll;
		background-image: url("images/img3.png");
		min-height: 200px;
	}
	.parallax4{
		background-attachment: scroll;
		background-image: url("images/img4.png");
		min-height: 200px;
	}

}